.select__item {
  @include font(400, 1.6rem, 200%);
  list-style-type: none;
  white-space: nowrap;
  cursor: pointer;
}

@media (min-width: 48em) {
  .select__item:hover {
    border-bottom: solid .1rem #2b3350;
  }
}
