.catalogue__header {
  margin-bottom: 2.1rem;

  text-align: center;
}

.catalogue__cards {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 27.8rem);
  justify-content: space-between;
}

.card {
  width: 100%;

  position: relative;
}

.card__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding-top: 3.5em;
  padding-bottom: 6.4rem;
}

.card__wrap_color {
  color: $primary-color;
}

.card__img {
  width: 27.8rem;
  height: 32.9rem;

  margin-bottom: 5.5rem;
}

.card__name {
  max-width: 27.8rem;

  margin-bottom: 0.3rem;
  @include font(400, 2rem, 130%);
  text-align: center;
}

.card__price_new {
  margin-bottom: 0.3rem;

  @include font(900, 2.8rem, 140%);
  letter-spacing: -0.05em;
}

.card__price_old {
  position: relative;
  @include font(700, 2rem, 140%);
  letter-spacing: -0.05em;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.card__button {
  padding: 1.85rem 3.8rem 2.25rem 3.8rem;
  margin-top: 2rem;
  display: none;

  @include font(600, 1.6rem, 140%);

  &_color {
    background-color: #0074d4;
    box-shadow: 0 4.3rem 5.1rem rgba(0, 116, 212, 0.2),
      0 1.29632rem 1.5375rem rgba(0, 116, 212, 0.241),
      0 0.538427rem 0.638599rem rgba(0, 116, 212, 0.15),
      0 0.194738rem 0.230969rem rgba(0, 116, 212, 0.059);
    color: #ffffff;
  }
}

.catalogue__show-all {
  width: 100%;

  margin-top: -0.3rem;
  padding-top: 2.4rem;
  padding-bottom: 2.6rem;

  @include font(600, 1.8rem, 130%);

  &_color {
    background: #f3f4f7;
  }
}

@media (min-width: 48em) {
  .card__wrap:hover {
    width: 33rem;

    position: absolute;
    z-index: 1;
    margin-left: -2.6rem;
    padding-bottom: 4.7rem;

    border: 0.1rem solid #f3f4f7;
    box-shadow: 0 2rem 5.2rem -0.8rem rgba(0, 0, 0, 0.15);
    border-radius: 1.6rem;
    cursor: pointer;
    background-color: #ffffff;

    .card__button {
      display: block;
    }
  }
}

@media (max-width: 48em) {
  .catalogue__header {
    margin-bottom: 1.3rem;
    font-size: 2.8rem;
  }

  .catalogue__cards {
    grid-template: repeat(3, 1fr) / repeat(2, auto);
  }

  .card {
    width: 13.9rem;

    position: relative;

    &:nth-child(7) {
      display: none;
    }

    &:nth-child(8) {
      display: none;
    }
  }

  .card__img {
    width: 100%;
    height: auto;

    margin-bottom: 1rem;
  }

  .card__wrap {
    padding-top: 0;
    padding-bottom: 4.1rem;
  }

  .card__name {
    @include font(400, 1.4rem, 130%);
    margin-bottom: 0.2rem;
  }

  .card__price_new {
    @include font(900, 2rem, 140%);
    margin-bottom: 0;
  }

  .card__price_old {
    @include font(700, 1.7rem, 140%);
    margin-top: -0.2rem;
  }

  .catalogue__show-all {
    padding-top: 1.6rem;
    padding-bottom: 1.7rem;
    position: relative;
    top: -1rem;

    @include font(600, 1.6rem, 130%);
  }
}
