.footer
    padding-top: 6.6rem
    padding-bottom: 6.4rem

.footer__wrapper
    display: flex

.footer-color
    background-color: #191E32

.footer__about
    display: inline-block
    margin-right: 7.7rem
    margin-left: -0.2rem
    margin-top: 0.1rem

.footer__logo
    display: block
    width: 18.4rem
    height: 4.2rem
    margin-bottom: 1.5rem
    margin-left: -0.2rem

.footer__privacy
    display: block
    margin-bottom: 0.7rem

    +font(500, 1.4rem, 140%)
    
    color: #959AAE

.footer__rights
    +font(500, 1.4rem, 140%)
    
    color: #959AAE

.footer__links
    display: inline-block

.footer__links
    margin-right: 7.8rem

.footer__link
    display: block

    font-family: "Manrope"
    +font(500, 1.7rem, 140%)

    color: #E7EAEF

    &:not(:last-child)
        margin-bottom: 1rem


.footer__contacts
    display: inline-block

.footer__contact:nth-child(1)
    margin-bottom: 1.7rem

.footer__contact:nth-child(2)
    margin-bottom: 1.2rem

.footer__contact-img
    display: inline-block
    width: 1.9rem  
    margin-right: 1.1rem
    position: relative
    bottom: -0.4rem

.footer__contact-inform
    +font(400, 1.7rem, 140%)
    color: #E7EAEF

.footer__contact-inform_phone
    +font(600, 2rem, 140%)