.testdrive 
  width: 100%

  &_color
    background-image: url("../img/testdrive/office.png")
    background-repeat: no-repeat
    background-position: center

.testdrive__wrap
    margin-top: 9.2rem
    display: grid
    grid-template-columns: 68.2rem 1fr

.testdrive__text
  padding-top: 9.5rem

.testdrive__header
  margin-bottom: 1.6rem

.testdrive__description
  width: 57.8rem
  
  +font(400, 1.9rem, 160%)

  margin-bottom: 3rem

.testdrive__button
  padding: 2.6rem 4.95rem 3rem 4.95rem
  margin-bottom: 9.4rem

  font-weight: 600
  font-size: 18px
  line-height: 140%

  &_color
    color: #FFFFFF
    background-color: #0074D4
    box-shadow: 0px 43px 51px rgba(0, 116, 212, 0.2), 0px 12.9632px 15.375px rgba(0, 116, 212, 0.241), 0px 5.38427px 6.38599px rgba(0, 116, 212, 0.15), 0px 1.94738px 2.30969px rgba(0, 116, 212, 0.059)

.testdrive__img
  position: relative

  img
    position: absolute
    width: 59.5rem
    height: 57.1rem
    top: -7rem
    left: -4.7rem

  